form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
}

.input_form {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  min-width: 300px;
}

label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.input_form input {
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.input_form input::placeholder {
  opacity: 50%;
}

button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: none;
  background-color: #6278f7;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  background-color: #0e249c;
}
